# ---------- App ----------
NODE_ENV=development
PORT=3000
APP_URL=http://localhost:3000


# ---------- Seed Superadmin ----------
SUPERADMIN_EMAIL=
SUPERADMIN_PASSWORD=
SUPERADMIN_FULL_NAME=

# ---------- SMTP ----------
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASSWORD=
MAIL_FROM=

# ---------- JWT ----------
JWT_SECRET=
JWT_EXPIRES_IN=1h

# ---------- PostgreSQL ----------
DB_HOST=localhost
DB_PORT=5432
DB_NAME=auth_service
DB_USER=
DB_PASSWORD=

# ---------- Redis ----------
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
TRUST_PROXY=0

# ---------- RabbitMQ ----------
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USER=
RABBITMQ_PASSWORD=

# ---------- MinIO ----------
MINIO_HOST=localhost
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_BUCKET=avatars
MINIO_USE_SSL=false